.category-links {
  li {
    @include flex-center;
    background: #33353D;
    padding: 1em;
    border: 1px black solid;

    a {
      color: white;
      font-size: 1.2em;
      font-weight: 700;
    }
  }
}
