.site-footer {
  @include display(flex);
  @include justify-content(space-between);
  border-top: 0.2em solid white;
}

.footer-left-nav-links {
  padding-left: 2em;

  li {
    display: inline;
    padding: 0 0.5em;

    a {
      color: #CCC;
      font-size: 1.1em;
      font-weight: 700;
    }
  }
}

.footer-right-nav-links {
  padding-right: 2em;

  li {
    display: inline;
    padding: 0 0.5em;

    a {
      color: #CCC;
      font-size: 1.1em;
      font-weight: 700;
    }
  }
}
