.site-footer {
  @include display(flex);
  @include justify-content(space-between);
  background: black;
  border-top: 0.2em solid white;
}

.footer-left-nav-links {
  padding-left: 1em;

  li {
    display: inline;
    padding: 0 0.2em;

    a {
      color: white;
      font-size: 0.9em;
      font-weight: 700;
    }
  }
}

.footer-right-nav-links {
  padding-right: 1em;

  li {
    display: inline;
    padding: 0 0.2em;

    a {
      color: white;
      font-size: 0.9em;
      font-weight: 700;
    }
  }
}
