.site-header {
  color: #888;
  font-family: sans-serif;

  .header-top {
    @include span-columns(12);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 0.063em solid rgb(204, 204, 204);
    height: 50%;

    .site-nav {

      .site-nav-links {
        li {
          display: inline;

          a {
            color: #CCC;
            font-size: 0.9em;

            &:hover {
              color: #FFFC64;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    @include span-columns(12);
    border-bottom: 0.063em solid rgb(204, 204, 204);
    height: 50%;

    .header-search {
      @include span-columns(9 of 12);
      text-align: right;
    }

    .header-create {
      @include span-columns(1 of 12);
    }

    .header-forums {
      @include span-columns(1 of 12);
    }

    .header-beta {
      @include span-columns(1 of 12);
    }
  }
}
