.site-header {
  color: #888;
  font-family: sans-serif;

  .header-top {
    @include span-columns(12);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 0.25em ridge yellow;

    .header-user-session {
      background: yellow;
      color: black;
      height: 100%;

      .modal {
        height: 100%;

        label {
          height: 100%;

          .modal-trigger {
            @include flex-center;
            height: 100%;
          }
        }
      }
    }
  }
}

.site-nav-links {
  li {
    display: inline;
    padding: 0 0.25em;

    a {
      color: #CCC;

      &:hover {
        color: #FFFC64;
      }
    }
  }
}

.header-secondary-links {
  @include display(flex);
  @include justify-content(space-between);

  li {
    display: inline;
    padding: 0 0.25em;

    a {
      color: #0099CC;
      font-size: 1.1em;
    }
  }
}
