.site-header {
  color: #888;
  font-family: sans-serif;

  .header-top {
    @include span-columns(12);
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 0.25em ridge yellow;
    height: 50%;

    .site-nav {

      .site-nav-links {
        li {
          display: inline;
          padding: 0 0.5em;

          a {
            color: #CCC;
            font-size: 1.1em;

            &:hover {
              color: #FFFC64;
            }
          }
        }
      }
    }

    .header-user-session {
      background: yellow;
      color: black;
      height: 100%;

      .modal {
        height: 100%;

        label {
          height: 100%;

          .modal-trigger {
            @include flex-center;
            height: 100%;
          }
        }
      }
    }
  }

  .header-bottom {
    @include span-columns(12);
    height: 50%;

    .site-nav-secondary {
      @include span-columns(6 of 12);

      .header-bottom-links {
        @include display(flex);
        @include justify-content(space-between);

        li {
          display: inline;
          padding: 1em;

          a {
            color: #0099CC;
            font-size: 1.1em;
          }
        }
      }
    }

    .header-search {
      @include span-columns(6 of 12);
      @include flex-center;
      padding: 1em;
    }
  }
}
