*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.site-header {
  @include size(100% 10%);
}

main {
  width: 100%;
}

.site-footer {
  width: 100%;
  @include position(absolute, null 0 0 0);
}
