*,
*:before,
*:after   {
  box-sizing: border-box;
  padding: 0;
  margin:  0;
}

html,
body {
  height: 100%;
}

body {
  @include outer-container;

  .site-header {
    @include span-columns(12);
    height: 10%;
  }

  main {
    @include span-columns(12);
    height: 90%;
    margin: auto;
    margin-bottom: -10%;
  }

  .site-footer {
    @include span-columns(12);
    bottom:  0;
    height: 10%;
    left:    0;
  }
}
