*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

body {
  @include outer-container;

  .site-header {
    @include span-columns(12);
    height: 10%;
  }

  main {
    @include span-columns(12);
    margin: auto;
  }

  .site-footer {
    @include span-columns(12);
    @include position(absolute, null 0 0 0);
  }
}
