.site-logo {
  @include display(flex);
  @include justify-content(center);
  @include align-items(flex-end);
  padding-top: 2em;

  .site-logo-wrapper {
    padding-right: 1em;

    .snarly-logo {
      @include size(25em 5em);
    }
  }

  h1 {
    color: white;
    margin-bottom: 0;
    padding-left: 1em;
  }
}
