.site-logo {
  @include span-columns(8);
  @include shift(2);
  @include display(flex);
  @include align-items(flex-end);
  padding: 1em;

  .site-logo-wrapper {
    @include span-columns(4 of 8);

    .snarly-logo {
      @include size(25em 5em);
    }
  }

  h1 {
    @include span-columns(4 of 8);
    color: white;
    margin-bottom: 0;
    text-align: center;
  }
}
